.pokemon-detail-outer-container {
  padding: 20px 10%;
}

.pokemon-detail-container {
  border: #A4C01D solid 3px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.pokemon-detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.detail-info {
  margin-bottom: 20px;
}

.pokemon-sprite {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 7.5px;
  background-color: orange;
  border-radius: 5px;
  outline: none;
}

.reset-button:hover {
  cursor: pointer;
}