.pokemon-detail-outer-container {
  padding: 20px 10%;
}

.pokemon-detail-container {
  border: #A4C01D solid 3px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.pokemon-detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-info {
  margin-bottom: 20px;
}

.pokemon-sprite {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset-button,
.next-button,
.previous-button {
  position: absolute;
  border: none;
  padding: 7.5px;
  border-radius: 5px;
  outline: none;
  width: 100px;
}

.reset-button {
  top: 10px;
  right: 10px;
  background-color: orange;
}

.next-button {
  bottom: 10px;
  right: 10px;
  background-color: lightgray;
}

.previous-button {
  bottom: 10px;
  left: 10px;
  background-color: lightgray;
}

.reset-button:hover,
.previous-button:hover,
.next-button:hover {
  cursor: pointer;
}
