.pokemon-container {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 20px;
  border-right: #a4c01d solid 1px;
  border-bottom: #a4c01d solid 1px;
  border-top: none;
  border-left: none;
  outline: none;
}

.pokemon-container:hover {
  cursor: pointer;
  background: #a4c01d;
  color: white;
  transition: 0.3s;
}
