.pokemon-list-outer-container {
  padding: 20px 10%;
}

.pokemon-list-container {
  display: grid;
  grid-template-columns: auto auto auto;
  border-left: #A4C01D solid 1px;
  border-top: #A4C01D solid 1px;
}


